* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background: var(--Gray-50, #F3F3F3);
  .control {
    padding-top: 50px;
    padding-bottom: 120px;
    .textcomponent {
      p {
        color: var(--Par-Color, #7c7c7c);
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 46.5px; /* 193.75% */
        text-transform: capitalize;
      }
      h2 {
        color: var(--Primary-gray-scale, #000);
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 82.5px; /* 229.167% */
        text-transform: capitalize;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 85px;

        padding-top: 30px;
      a {
        text-decoration: none;
        color: var(--Primary-gray-scale, #000);
        text-align: center;
        font-family: "Inter", sans-serif;
        background: var(--White-Color, #FFF);

        display: flex;
        width: 290px;
        height: 77px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 80px; /* 400% */
        text-transform: capitalize;
      }
      a:hover{
        color: var(--Primary-gray-scale, #ffffff);
        background: var(--White-Color, #000000);
        transition: 1s;
      }
    }
  }
}

@media (min-width: 992px) {
  .background {
    .control {
      .textcomponent {
        p {
          font-size: 24px;
        }
        h2 {
          font-size: 36px;
        }
      }
      .links {
        padding-top: 80px;
        display: flex;
        flex-direction: row;
        gap: 106px;
        a{
            text-decoration: none;
        }
      }
    }
  }
}
