* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  padding-top: 40px;
  .control {
    padding-top: 87px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    .h2text {
      h2 {
        color: var(--Primary-gray-scale, #000);
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        text-transform: capitalize;
      }
    }
    .ptext {
      p {
        color: var(--Par-Color, #7c7c7c);
        text-align: center;

        font-family: "Inter", sans-serif;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        text-transform: capitalize;
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .button1 {
        background: var(--Seconday, #dcdcdc);
        padding: 20px 22px;
        border: none;
        text-decoration: none;
        color: var(--Primary-gray-scale, #000);
        text-align: center;
        font-family: "Inter", sans-serif;
        border: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px; /* 118.75% */
        text-transform: capitalize;
      }
      .button1:hover {
        color: var(--Primary-gray-scale, #ffffff);
        background: var(--Seconday, #000000);
        transition: 1s;
      }
      .button2 {
        border: 1px solid var(--Primary-gray-scale, #000);
        background: var(--Primary-gray-scale, #000);
        padding: 20px 22px;
        text-decoration: none;

        color: var(--White-Color, #ffffff);
        text-align: center;
        font-family: "Inter", sans-serif;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px; /* 118.75% */
        text-transform: capitalize;
      }
      .button2:hover{
         color: var(--Primary-gray-scale, #000000);
           background: var(--Seconday, #dcdcdc);

        transition: 1s;
      }
    }
  }
}
@media (min-width: 992px) {
  .background {
    .control {
      .h2text {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
          width: 50%;
          font-size: 58px;
          font-style: normal;
          font-weight: 700;
          line-height: 82.5px; /* 142.241% */
          text-transform: capitalize;
        }
      }
      .ptext {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          width: 50%;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 42px; /* 142.241% */
          text-transform: capitalize;
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 18px;
        .button1 {
          width: 15%;
        }
        .button2 {
          width: 15%;
        }
      }
    }
  }
}
